@import "tailwindcss";

:root {
  --background: #fef4f9;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-xs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --color-elevita: hsla(354, 93%, 60%, 1);
  --color-support: hsla(0, 0%, 12%, 0.6);
  --color-complement-background: hsla(330, 24%, 93%, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
